<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="appController as vm">
<head>
    <meta charset="UTF-8">
    <title>{{vm.component.name}}</title>
    <link rel="stylesheet" href="./vendor-65426bd1a9.css">

    <link rel="stylesheet" href="./app-e6610f8f4e.css">

    <script src="./vendor-bfaee905bf.js"></script>

    <script src="./app-d519bc2f43.js"></script>


</head>
<body>
<fm-demo-header component="vm.component" version="[VERSION]" mode="vm.mode"></fm-demo-header>

<fm-demo caption="Hach Fusion Development Home" mode="vm.mode">
    <fm-demo-content mode="vm.mode">
        <fm-home></fm-home>
    </fm-demo-content>
</fm-demo>
<fm-demo-footer mode="vm.mode">Uploaded: [UPLOADED]</fm-demo-footer>

</body>

</html>