<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="appController as vm">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon"
          type="image/png"
          href="assets/fm-less/images/Hach-Favicon.ico">
    <title>{{vm.component.name}}</title>
    <link rel="stylesheet" href="./vendor-2d0e808f10.css">

    <link rel="stylesheet" href="./app-cae1401e17.css">

    <script src="./vendor-cd22afa3c6.js"></script>

    <script src="./app-a61373f8ea.constants.js"></script>

    <script src="./app-c9e1225f07.js"></script>


</head>
<body>
<fm-demo-header component="vm.component" version="[VERSION]" mode="vm.mode"></fm-demo-header>

<fm-demo caption="Common Components" mode="vm.mode">
    <fm-demo-content mode="vm.mode">
        <fm-components
                  menu-exists="vm.menu"

                  fm-full-height="vm.heightValue"
                  fm-height="vm.heightValue" >

        </fm-components>
    </fm-demo-content>
    <fm-demo-content ng-if="vm.issues.length" mode="vm.mode">
        <h5>Console Messages:</h5>
        <ul>
            <li ng-repeat="issue in vm.issues">
                {{issue}}
            </li>
        </ul>
    </fm-demo-content>
</fm-demo>

<fm-demo-footer mode="vm.mode">
    Uploaded: [UPLOADED]
</fm-demo-footer>

</body>

</html>